<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  		
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  	<nav class="navbar navbar-default navbar-fixed-top">
  		<div class="container-fluid">
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li><%= link_to "Index",todos_path, class:"dropdown-header" %></li>
		        <li><%= link_to "List", todos_list_path, class:"dropdown-header" %></li>
		        <li><%= link_to "New", todos_new_path, class:"dropdown-header" %></li>
		        
		      </ul>
		 	</div>
		</div>
	</nav> <br> <br>
    <%= yield %>
  </body>
</html>
